body {
	
	text-align: center;
	background: #DFDFDF;

	margin: 0 30px 100px 30px;

	font: 18px sans-serif;
}

h1 {
	font: 50px italic;
}

.canvas-container {
	width: 800px;
	border-top: 8px solid dodgerblue;
	border-radius: 28px;

	margin-top: 0;
	margin-bottom: 4px;
}

canvas {
	display: block;
	background: white;
	border-radius: 22px;
	margin: 0;

	width: 800px;

}

canvas:focus {
	outline: none;
}

.hidden {
	display: none;
}

.activity-option {
	color: white;
	background-color: #005CB8;
	border-radius: 20px 20px 0 0;
	padding: 10px 60px 10px 60px;
}

.chosen {
	background-color: dodgerblue;
}
